
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Fichiers compiles et packages
*.class
*.jar
*.war
*.nar
*.ear

# Maven wrapper 
.mvn/wrapper/maven-wrapper.jar

HELP.md
*.log
*.ctxt
.mtj.tmp/
hs_err_pid*
replay_pid*

node_modules/
/dist
**/dist/
/tmp
/out-tsc
/bazel-out

.angular/
**/.angular/cache

npm-debug.log*
yarn-error.log*
yarn-debug.log*
pnpm-debug.log*

/coverage
**/coverage/
testem.log
__screenshots__/
.sass-cache/

.env
.env.*
!.env.example
*.local

.idea/
*.iml
*.ipr
*.iws

.classpath
.project
.settings/
.apt_generated/
.factorypath
.springBeans
.sts4-cache/

/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

.DS_Store
Thumbs.db
desktop.ini
